.gallery__thumbnail {
    border: none;
    background: transparent;
    cursor: pointer;
}

.gallery__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal__image {
    background-color: #fff;
    padding: 5px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 85%; 
    max-height: 85%;
  }

  .modal__close-button {
    position: absolute;
    top: 16px;
    right: 16px;
    background-color: lightgrey;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    color: #333;
    padding: 5px 10px;
    border-radius: 25%;
    outline: none;
    transition: background-color 0.3s ease;
  }
  
  .modal__close-button:hover {
    background-color: #eee;
  }